<div class="controls-grid">

  <div class="control-label" style="margin-top:20px;">
    DATE RANGE
  </div>
  <div class="control-grid-item">
    <div style="padding:0 5px 0 0;display:inline-block;">
      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Start Date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>
      </mat-form-field>
    </div>
    <div style="padding:0 0 0 5px;display:inline-block;">
      <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="End Date">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 startView="year" [startAt]="endDate"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div class="control-label">CYCLES</div>
  <div class="control-cycles-grid">
    <img class="cycle-hint" id="cycle_hint" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
    <mat-checkbox class="example-margin" [(ngModel)]="c00z" (mouseenter)="showCycleHint(0)" (mouseleave)="clearCycleHint()" labelPosition="after">00</mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]="c06z" (mouseenter)="showCycleHint(6)" (mouseleave)="clearCycleHint()" labelPosition="after">06</mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]="c12z" (mouseenter)="showCycleHint(12)" (mouseleave)="clearCycleHint()" labelPosition="after">12</mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]="c18z" (mouseenter)="showCycleHint(18)" (mouseleave)="clearCycleHint()" labelPosition="after">18</mat-checkbox>
  </div>

  <div class="control-label">NORM</div>
  <div class="control-option-list">
    <button class="control-option-button" mat-stroked-button (click)="showOptionDialog('NORM')">{{normSummary}}</button>
  </div>

  <div class="control-label">CENTERS</div>
  <div class="control-option-list">
    <button class="control-option-button" mat-stroked-button (click)="showOptionDialog('CENTERS')">{{centersSummary}}</button>
  </div>

  <div class="control-label">PLATFORMS</div>
  <div class="control-option-list">
    <button class="control-option-button" mat-stroked-button (click)="showOptionDialog('PLATFORMS')">{{platformsSummary}}</button>
  </div>

</div>
